.container{
    height: 450px;                
    width: 800px;
    background-color: white;
    display: grid;                       
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 2fr 2fr;
}

.First{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 300px;        
    text-align: center;
    color: white;
    background-color: rgb(99, 177, 99);
    
}

.Second{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 500px;
    border: 2px solid black;
}

.form{
    text-align: center;
    position: relative;
    top: 40px;
}
